
<section class="top-home">
	<a href="/search">
		<div class="top-home_search">输入书名、作者、关键字</div>
	</a>
	<div class="slider-banner">
		<div class="banner-imgs">
			<a href="#">
				<img class="cover" src="chen/img/slider-banner-cover.jpg" alt="banner">
			</a>
		</div>
	</div>
	<div class="sex-select">
		<ul class="top-home_btn">
			<li>
				<a href="/male">
					<img src="chen/img/male.png" alt="male">
					<p>男生</p>
				</a>
			</li>
			<li>
				<a href="/female">
					<img src="chen/img/female.png" alt="female">
					<p>女生</p>
				</a>
			</li>
			<li>
				<a href="/category">
					<img src="chen/img/category.png" alt="category">
					<p>分类</p>
				</a>
			</li>
			<li>
				<a href="/rank">
					<img src="chen/img/rank.png" alt="rank">
					<p>排行</p>
				</a>
			</li>
		</ul>
	</div>
</section>
