<style type="text/css">
	.shelf_top{
		padding: 10px 20px 0;
	}
	.shelf_top .shelf-search{
		margin-right: 46px;
		font-size: 12px;
		color: #ccc;
		border: 1px solid #eee;
		border-radius: 4px;
		line-height: 36px;
		background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 8px center;
		background-size: 14px;
		padding-left: 32px;
		box-sizing: border-box;
	}
	.shelf_switch{
		width: 36px;
		height: 36px;
		float: right;
		background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01yLF3fEj8l/b7UfAdlfufQKML.png) no-repeat center;
		border-radius: 4px;
		background-size: 16px;
		border: 1px solid #eee;
	}
	.book_list li{
		padding: 13px 20px;
		width: auto;
	}
	.book_list .book-cover{
		margin-right: 10px;
	}
	.book_list .book_info{
		float: left;
		padding-top: 1.2em;
	}
	.book-icon{
		display: block;
		float: left;
	}
</style>
<div class="book-shelf">
	<div class="shelf_top">
		<div class="shelf_switch"></div>
		<a href="/search">
			<div class="shelf-search">输入书名/作者/关键字</div>
		</a>
	</div>
	<ul class="book_list">
		<li class="clear">
			<a class="book-icon" href="">
				<div class="book-cover">
					<img src="chen/img/book-cover1.jpg">
				</div>
			</a>
			<div class="book_info">
				<h3>盗墓笔记</h3>
				<p class="author">
					<span class="authors">我</span>
				</p>
				<div class="wrap">
					<p>最新：《后记》</p>
				</div>
			</div>
		</li>
		<li class="clear">
			<a class="book-icon" href="">
				<div class="book-cover">
					<img src="chen/img/book-cover1.jpg">
				</div>
			</a>
			<div class="book_info">
				<h3>盗墓笔记</h3>
				<p class="author">
					<span class="authors">我</span>
				</p>
				<div class="wrap">
					<p>最新：《后记》</p>
				</div>
			</div>
		</li>
				<li class="clear">
			<a class="book-icon" href="">
				<div class="book-cover">
					<img src="chen/img/book-cover1.jpg">
				</div>
			</a>
			<div class="book_info">
				<h3>盗墓笔记</h3>
				<p class="author">
					<span class="authors">我</span>
				</p>
				<div class="wrap">
					<p>最新：《后记》</p>
				</div>
			</div>
		</li>
	</ul>
</div>