<style type="text/css">
	.top-home{
		background: #fff;
		border-bottom: 10px solid #f5f5f5;
	}
	.top-home_search{
		margin: 10px 13px;
		padding: 1px 0 0 30px;
		color: rgba(0,0,0,0.4);
		font:11px/33px a;
		background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 8px center;
		background-size: 14px;
		border: 1px solid #f5f5f5;
		border-radius: 2px;
	}
	.banner-imgs{
		height: 130px;
	}
	.cover{
		width: 100%;
	}
	.sex-select{
		/*margin: 14px 0 4px;*/
	}
	.top-home_btn{
		display: flex;
		display: -webkit-flex;
		width: 100%;
		margin: 10px 0 10px;
	}
	.sex-select li{
		flex:1;
		align-items: center;
		line-height: 2.4;
		font-size: 12px;
		text-align: center;
	}
	.sex-select li img{
		display: block;
		margin: 0 auto;
		height: 22px;
		width: 22px;
	}
</style>
<section class="top-home">
	<a href="/search">
		<div class="top-home_search">输入书名、作者、关键字</div>
	</a>
	<div class="slider-banner">
		<div class="banner-imgs">
			<a href="#">
				<img class="cover" src="chen/img/library.png" alt="banner">
			</a>
		</div>
	</div>
	<div class="sex-select">
		<ul class="top-home_btn">
			<li>
				<a href="/male">
					<img src="chen/img/male.png" alt="male">
					<p>男生</p>
				</a>
			</li>
			<li>
				<a href="/female">
					<img src="chen/img/female.png" alt="female">
					<p>女生</p>
				</a>
			</li>
			<li>
				<a href="/category">
					<img src="chen/img/category.png" alt="category">
					<p>分类</p>
				</a>
			</li>
			<li>
				<a href="/rank">
					<img src="chen/img/rank.png" alt="rank">
					<p>排行</p>
				</a>
			</li>
		</ul>
	</div>
</section>
