<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="chen/css/reset.css">
	<link rel="stylesheet" href="chen/css/all.css">
	<title>书籍分类</title>
</head>
<body>
	<div id="category"   style="overflow: hidden">
		<% include include/common-header.html %>
		<div class="category-wrap contain-wrap">
			<div class="u-area contain-scroll">
				<section class="male-info">
						<div class="male-info_top">
							<h2>图书分类</h2>
						</div>
						<ul class="male-info_cate clear">
							<li v-for="item in category.book">
								<a href="/" class="cate_info" :style="{backgroundImage: 'url(' + item.new_image + ')'}">
									<h3>{{item.label}}</h3>
									<p class="num">{{item.fiction_count}}</p>
								</a>
							</li>
						</ul>
				</section>
				<section class="male-info">
						<div class="male-info_top">
							<h2>网文男频</h2>
						</div>
						<ul class="male-info_cate clear">
							<li v-for="item in category.male">
								<a href="/male" class="cate_info" :style="{backgroundImage: 'url(' + item.new_image + ')'}">
									<h3>{{item.label}}</h3>
									<p class="num">{{item.fiction_count}}</p>
								</a>
							</li>
						</ul>
				</section>
				<section class="male-info">
						<div class="male-info_top">
							<h2>网文女频</h2>
						</div>
						<ul class="male-info_cate clear">
							<li v-for="item in category.female">
								<a href="/female" class="cate_info" :style="{backgroundImage: 'url(' + item.new_image + ')'}">
									<h3>{{item.label}}</h3>
									<p class="num">{{item.fiction_count}}</p>
								</a>
							</li>
						</ul>
				</section>
			</div>
		</div>
	</div>
	<script src="chen/js/lib/vue.js"></script>
	<script src="chen/js/lib/zepto.js"></script>
	<script src="chen/js/page/category.js"></script>
</body>
</html>