<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="chen/css/reset.css">
	<link rel="stylesheet" href="chen/css/all.css">
	<title>书城首页</title>
</head>
<body>
	<div id="app" :style="{width: screenWidth+'px'}" style="overflow: hidden">
		<% include include/header.html %>
			<div class="clear" :style="{width: doubleScreenWidth+'px',transform:'translate3d('+position+'px,0px,0px)'}"  style="transition-duration:.5s;height: 100%;">
				<div class="contain-wrap" :style="{width: screenWidth+'px'}" style="float: left;">
					<div class="contain-scroll">
						<% include include/index-top.html %>
						<% include include/index-hot.html %>
						<% include include/index-recomment.html %>
						<% include include/index-female.html %>
						<% include include/index-male.html %>
						<% include include/index-free.html %>
						<% include include/index-bottom.html %>
					</div>
				</div>
				<div class="contain-wrap" :style="{width:screenWidth+'px'}" style="float:left;">
					<div class="contain-scroll">
						<% include include/index-shelf.html %>
					</div>
				</div>
			</div>
	</div>
	<script src="chen/js/lib/vue.js"></script>
	<script src="chen/js/lib/zepto.js"></script>
	<script src="chen/js/page/index.js"></script>
</body>
</html>