<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="chen/css/reset.css">
	<link rel="stylesheet" href="chen/css/all.css">
	<title>男生频道</title>
</head>
<body>
	<div id="channel"  :style="{width: screenWidth+'px'}" style="overflow: hidden">
		<% include include/common-header.html %>
		<div class="sex-wrap contain-wrap">
			<div class="contain-scroll">
				<div class="wrapper" v-for="section in sex.items">
					<div class="sex-wrap_top">
						<h2>{{section.ad_name}}</h2>
					</div>
					<div class="sex-wrap_content">
						<div class="content">
							<ul class="sex-list">
								<li v-for="item in section.data.data">
									<div class="item">
										<div class="back-cover">
											<img v-bind:src="item.cover" alt="{{item.title}}">
										</div>
										<div class="info">
											<h3>{{item.title}}</h3>
											<p class="descript">{{item.summary}}</p>
											<div class="tagAuthor">
												<div class="autor">{{item.authors}}</div>
												<div class="tag">
													<span class="tag-item" v-for="tagItem in item.tags">{{tagItem}}</span>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			

		</div>
	</div>
	<script src="chen/js/lib/vue.js"></script>
	<script src="chen/js/lib/zepto.js"></script>
	<script src="chen/js/page/channel.js"></script>
</body>
</html>