<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="chen/css/reset.css">
	<link rel="stylesheet" href="chen/css/all.css">
	<title>书籍排行</title>
</head>
<body>
	<div id="rank"  :style="{width: screenWidth+'px'}" style="overflow: hidden">
		<% include include/common-header.html %>
		<div class="rank-wrap contain-wrap">
			<div class="contain-scroll">
				<div class="rank">
					<div class="wrapper">
						<div class="sex-wrap_content">
							<div class="content">
								<ul class="sex-list">
									<li v-for="item in rank">
										<div class="item">
											<div class="back-cover">
												<img v-bind:src="item.cover" alt="{{item.name}}">
											</div>
											<div class="info">
												<h3>{{item.name}}</h3>
												<p class="descript summary">{{item.description}}</p>
												<div class="rank_num">
													Rank:{{item.ranks}}
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="chen/js/lib/vue.js"></script>
	<script src="chen/js/lib/zepto.js"></script>
	<script src="chen/js/page/rank.js"></script>
</body>
</html>